<div class="container">
    <div class="row">
        <div class="split col-md-12" ui-view="header"></div>

        <div class="col-md-12">
            <div class="row">
                <div class="split col-md-3" ui-view="nav"></div>
                <div class="split col-md-9 float-left" ui-view="content"></div>
                <div class="split col-md-9 float-left" ui-view="content2"></div>
            </div>
        </div>

        <div class="split col-md-12" ui-view="footer"></div>
    </div>
</div>
